#correct {
    background-color: #15803d;
    
}

#almost {
    background-color: #ca8a04;
}

#error {
    background-color: #52525b;
}


#disabled {
    background-color: #52525b;

}

#green {
    background-color: #15803d;
}

#yellow {
    background-color: #ca8a04;
}


.themeDefaultHeader {
    background-color: #141727 ;
    opacity: .95;
}

#redHeader {
    background-color: red;
}